@font-face {
  font-family: "iconfont"; /* Project id 2585551 */
  src: url('iconfont.woff2?t=1622875650709') format('woff2'),
       url('iconfont.woff?t=1622875650709') format('woff'),
       url('iconfont.ttf?t=1622875650709') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qita:before {
  content: "\e618";
}

.icon-jiahao1:before {
  content: "\e62f";
}

.icon-fanhui-xianxing:before {
  content: "\e641";
}

.icon-jiantou21:before {
  content: "\e729";
}

.icon-jiantou22:before {
  content: "\e72a";
}

.icon-jiantou1:before {
  content: "\e622";
}

.icon-weimingmingwenjianjia_zhuye:before {
  content: "\e63d";
}

.icon-gouwuche:before {
  content: "\e6ab";
}

.icon-biaoqiankuozhan_wode-260:before {
  content: "\eb7f";
}

.icon-dianpu:before {
  content: "\e767";
}

.icon-kefu:before {
  content: "\e605";
}

.icon-jianhao:before {
  content: "\e637";
}

.icon-guanbi:before {
  content: "\e612";
}

.icon-xingxing1:before {
  content: "\e646";
}

.icon-jiantou:before {
  content: "\e61f";
}

.icon-12:before {
  content: "\e60c";
}

.icon-jifen:before {
  content: "\e636";
}

.icon-xingxing:before {
  content: "\e642";
}

.icon-anquan:before {
  content: "\e615";
}

